body { 
    background: url(./images/img1.jpg) no-repeat center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.container{
	width: 800px;
	height: 2300px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 90px;
    box-shadow: 1px 4px 100px 1px #403d32;
    border-radius: 10%;
}



.img{
    display: flex;
    justify-content: center;
}

.avatar {
	width:  225px;
	height:  225px;
	border-radius: 30%;
    cursor: pointer;
}

.avatar:hover {
    box-shadow: 10px 7px 70px 3px #babeb0;
}


.phone {
    margin-top: 4px;
    font-size: 20px;
    padding: 5px;
}

.email {
    font-size: 20px;
    padding: 5px;
}

.location {
    font-size: 20px;
    padding: 5px;
}

.date {
    font-size: 20px;
    padding: 5px;
}

.name {
    font-size: 60px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Great Vibes', cursive;
}

.dev {
    font-size: 70px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: rgba(208, 180, 142, 0.47);
    border-radius: 50%;
}


.comm {
    font-size: 26px;
    margin-top: 20px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

.education {
    font-size: 65px;
    margin: 30px;
    display: flex;
    justify-content: flex-start;
    
}

.faculty {
    font-size: 30px;
    margin-bottom: 7px;
}

.school {
    font-size: 20px;
    margin-top: 10px;
}

form {
    font-size: 17px;
    margin: 7px;
}

.aca{
    font-size: 32px;
    margin-top: 7px;
}

.skill {
    color: rgb(250, 227, 196);
    font-size: 60px;
    margin-top: 50px;
    margin-left: 60px;
}

.skills {
    margin-top: 40px;
    margin-left: 20px;
}

.js {
    height: 60px;
    widows: 400px;
    font-size: 35px;
    margin: 8px;
    color: rgb(250, 227, 196);
    font-family: 'Francois One', sans-serif;
}

.js i{
    color: #e0e021;
    margin: 15px;
    font-size: 45px;
    
}

.react {
    height: 60px;
    widows: 400px;
    font-size: 35px;
    margin: 8px;
    color: rgb(250, 227, 196);
    font-family: 'Francois One', sans-serif;
}

.react i {
    color: #1682ed;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 15px;
    font-size: 45px;
} 

.html {
    height: 60px;
    widows: 400px;
    font-size: 35px;
    margin: 8px;
    color: rgb(250, 227, 196);
    font-family: 'Francois One', sans-serif;
}

.html i {
    color: #f88c3c;
    margin: 16px;
    font-size: 45px;
}

.css {
    height: 60px;
    widows: 400px;
    font-size: 33px;
    margin: 8px;
    color: rgb(250, 227, 196);
    font-family: 'Francois One', sans-serif;
}

.css i {
    color: #3389ff;
    margin: 16px;
    font-size: 45px;
}

.git {
    height: 60px;
    widows: 400px;
    font-size: 35px;
    margin: 8px;
    color: rgb(250, 227, 196);
    font-family: 'Francois One', sans-serif;
}

.git i {
    color: #000000;
    margin: 15px;
    font-size: 40px;
}

.dot {
    height: 24px;
    width: 24px;
    background-color: #eddfce;
    border-radius: 50%;
    display: inline-block;
    margin-left: 30px;
}

.dot1 {
    height: 24px;
    width: 24px;
    background-color: rgb(154, 141, 114);
    border-radius: 50%;
    display: inline-block;
    margin-left: 30px;
}



#about-me {
    font-size: 45px;
    margin-top: 90px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#text {
	font-size: 25px;
    margin: auto;
    font-family: 'Indie Flower', cursive;
    background: rgba(222, 176, 112, 0.4);
}

.social {
	font-size: 50px;
    margin-top: 30px;
    letter-spacing:  15px;
    display: flex;
    justify-content: center;
}

.social a:hover {
    font-size: 65px;
}

.twitter {
    color: #08a0e9;
}

.github {
    color: #000000;
}

.twitter:hover {
    text-decoration: none;
}

.facebook {
    color: #29487D;
}

.linkedin {
    color: #3967bc;
} 

.circle {
            width: 20px;
            height: 20px;
            border: 1px solid #000;
            position: absolute;
            border-radius: 15px;
        }